{% import "macros.html.jinja" as cv %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Casey Anderson - Curriculum Vitae</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
    </head>

    <body>
        {% for section in sections %}
        <div id="{{ section.id }}">
            <h2>{{ section.title }}</h2>

            {% if section.id == "education" %}
                <ul class="nobullets current">
                    {% for entry in section.entries %}
                    <li>
                        {{- cv.render_education_entry(entry) -}}
                    </li>
                    {% endfor %}
                </ul>
            {% elif section.id == "professional-experience" %}
                <h3>Current</h3>

                <ul class="nobullets current section-group-list">
                    {% for entry in section.entries %}
                        {% if entry.time.end is none %}
                        <li>
                            {{- cv.render_professional_entry(entry) -}}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <h3>Previous</h3>

                <ul class="nobullets previous section-group-list">
                    {% for entry in section.entries %}
                        {% if entry.time.end is not none %}
                        <li>
                            {{- cv.render_professional_entry(entry) -}}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% elif section.id == "teaching" %}
                <h3>Current</h3>

                <ul class="nobullets current section-group-list">
                    {% for entry in section.entries %}
                        {% if entry.time.kind == "interval" and entry.time.end is none %}
                        <li>
                            {{- cv.render_teaching_entry(entry) -}}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <h3>Previous</h3>

                <ul class="nobullets previous section-group-list">
                    {% for entry in section.entries %}
                        {% if entry.time.kind != "interval" or entry.time.end is not none %}
                        <li>
                            {{- cv.render_teaching_entry(entry) -}}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                {% for group in section.groups %}
                    {% if group.title %}
                    <h3>{{ group.title }}</h3>
                    {% endif %}

                    <ul class="{{ group.classes | join(' ') }}{% if group.title %} section-group-list{% endif %}">
                        {% for entry in group.entries %}
                        <li>
                            {{- cv.render_entry(entry) -}}
                        </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    </body>
</html>
