{% macro render_education_entry(entry) -%}
<span class="boxed">
    {{- entry.degree }} in {{ entry.major | join(", ") -}}
</span>
{{- ", " }}{{ entry.institution }}
{{- ", " }}{{ entry.location }}
{{- ", " -}}
<time datetime="{{ entry.time.value.year }}">
    {{- entry.time.value.year -}}
</time>
{%- endmacro %}


{% macro render_date_component(date) -%}
    {%- set month_names = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
    ] -%}

    <time datetime="{{ date.year }}{% if date.month is defined %}-{{ "%02d" | format(date.month) }}{% endif %}">
        {%- if date.month is defined -%}
            {{ month_names[date.month - 1] }}{{ " " }}
        {%- elif date.season is defined -%}
            {{ date.season | capitalize }}{{ " " }}
        {%- endif -%}
        {{ date.year }}
    </time>
{%- endmacro %}


{% macro render_interval(interval) -%}
    <span class="time-interval">
        {{- render_date_component(interval.start) -}}
        {{ " - " }}
        {%- if interval.end is none -%}
            present
        {%- else -%}
            {{ render_date_component(interval.end) }}
        {%- endif -%}
    </span>
{%- endmacro %}

{% macro render_dates(dates) -%}
    <span class="time-values">
        {%- for date in dates["values"] -%}
            {{ render_date_component(date) }}
            {%- if not loop.last -%}
                {{ " & " }}
            {%- endif -%}
        {%- endfor -%}
    </span>
{% endmacro %}

{% macro render_professional_entry(entry) -%}
    <span class="boxed">
        {{- entry.organization -}}
    </span>
    {{- ", " }}{{ entry.role | join(", ") }}
    {{- ", " }}{{ entry.location }}
    {{- ", " }}{{ render_interval(entry.time) }}
{%- endmacro %}

{% macro render_teaching_entry(entry) -%}
    <span class="boxed">
        {{- entry.institution -}}
    </span>
    {{- ", " }}{{ entry.role | join(", ") }}
    {{- ", " }}{{ entry.location }}
    {{- ", " }}
    {%- if entry.time.kind == "interval" -%}
        {{ render_interval(entry.time) }}
    {%- elif entry.time.kind == "dates" -%}
        {{ render_dates(entry.time) }}
    {%- endif -%}
{%- endmacro %}

{% macro render_guest_lecture_entry(entry) -%}
    <span class="boxed">
        {{- entry.institution -}}
    </span>
    {{- ", " }}{{ entry.title }}
    {{- ", " }}{{ entry.context.name }}
    {{- " (hosted by " }}{{ entry.context.host }}{{ ")" }}
    {{- ", " }}{{ entry.location }}
    {{- ", " }}
    {%- if entry.time.kind == "date" -%}
        {{ render_date_component(entry.time.value) }}
    {%- elif entry.time.kind == "dates" -%}
        {{ render_dates(entry.time) }}
    {%- endif -%}
{%- endmacro %}

{% macro render_entry(entry) -%}
    {%- if entry.type == "boxed" -%}
        {{ entry.prefix | default("") -}}
        <span class="boxed">{{ entry.label }}</span>
        {%- if entry.details %}, {{ entry.details }}{% endif -%}
        {{ entry.suffix | default("") }}
    {%- elif entry.type == "link" -%}
        <a href="{{ entry.url }}" target="_blank" rel="noopener">
            {{- entry.label -}}
        </a>
        {%- if entry.details %} {{ entry.details }}{% endif %}
    {%- elif entry.type == "plain" -%}
        {{ entry.text }}
    {%- endif -%}
{%- endmacro %}


