// general spacing
$pad:       38px;
$cell:      10px;

// typography
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: black;
$font-size: 9pt;
$line-height: $font-size*1.5;
$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !default;

a {
    color: white;
    background-color: black;
    padding: 1px 4px;
    &:hover {
    text-decoration: none;
    }

}

body {
    margin: $pad;
}

.boxed {
    color: white;
    background-color: black;
        padding: 1px 4px;;
}

div {
    margin: $cell *2;
    padding: $cell *2;
    border: dashed 1px black;

}

html {
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}

h3, h4 {
    display: inline;
}

img {
    margin-top: $cell;
    margin-bottom: $cell;
    max-width: 850px;
    max-height: 850px;
}


p {
    margin-top: $cell;
    margin-bottom: $cell;
}

ul.nobullets {
    list-style-type: none;
}
