// general spacing
$pad:       38px;
$cell:      10px;

// typography
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: black;
$font-size: 12pt;
$line-height: $font-size*1.5;
$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !default;

$box-color: #505050;
$box-text-color: #fff;

a {
    color: $box-text-color;
    background-color: $box-color;
    padding: 1px 4px;
    &:hover {
    text-decoration: none;
    }

}

body {
    margin: $pad;
}

.boxed {
    color: $box-text-color;
    background-color: $box-color;
        padding: 1px 4px;
}

div {
    margin: $cell *2;
    padding: $cell *2;
    border: dashed 1px $box-color;
}

html {
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}

h3, h4 {
    display: inline;
}

p {
    margin-top: $cell;
    margin-bottom: $cell;
}



ul.columns {
      columns: 2;
}

ul.nobullets {
    list-style-type: none;
}

